* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: #18181b;
}

#menu {
 height: 100vh;
 display: flex;
 align-items: center;
}

#menu-items {
 margin-left: 4rem;
}

#menu-items:hover > .menu-item{
 opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
 opacity: 1;
}

.menu-item {
 color: white;
 font-size: clamp(3rem, 8vw, 8rem);
 font-family: 'Manrope', sans-serif;

 display: block;
 text-decoration: none;
 padding: .25rem 0rem;

 transition: opacity 400ms ease;
}