* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: #18181b;
}

#menu {
 height: 100vh;
 display: flex;
 align-items: center;
}

#menu-items {
 margin-left: clamp(4rem, 20vw, 48rem);
}

.menu-item {
 color: white;
 font-size: clamp(3rem, 8vw, 8rem);
 font-family: Arial, Helvetica, sans-serif;

 display: block;
 text-decoration: none;
 padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}